<html>
<body>
<h1 align="center">Hello, from ansible managed server!</h1>
<h1 align="center">My VPC IP is {{ hostvars['vovcheg']['ansible_host'] }}<h1>
<h1 align="center">Say {{ food }}!!!<h1>
</body>
</html>